/*.user-icon{
    display:inline;
}*/
#post-cards{
    width: 60vw;
    display: flex;
    flex-direction: column;
}
#post-cards p{
    align-self: center;
    font-size: 1.5rem;
    font-weight: bold;
}
.post-card{
    padding: 1rem ;
    min-width: 20rem;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap:1rem;
    margin-bottom:2rem;
    background-color: #E0F2F1;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
.post-card .profile{
    font-weight: bold;
    display: flex;
    align-items: center;
    gap:0.4rem;
}
.post-card .profile .user-icon{
    width: 22px;
    height: 22px;
    object-fit: cover;
    display: flex;
    flex-shrink: 0;
}

.post-card .date{
    margin-top: -0.8rem;
    font-size: 0.9rem;
}
.post-card img{
    align-self: center;
    height: 12rem;
    width: 11rem;
}
.post-card .text{
    font-size: 1.2rem;
}
.post-card .interaction{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}
.post-card .interaction button{
    border: none;
    background-color: #E0F2F1;
    cursor: pointer;
    display: inline-flex;
  align-items: center;
  justify-content: center;
}
.post-card .interaction button .heart,.post-card .interaction button .comments{
    height: 20px;
    width: 20px;
    
}
.post-card .interaction button .count{
    margin-left: 0.2rem;
    font-size: 1.2rem;
    color: red;
}
.post-card .interaction button .redheart{
    color: red;
    height: 20px;
    width: 20px;
}